form {
  display: flex;
  flex-direction: column;
}
mat-form-field {
  width: 100%;
}
button {
  background:rgb(70, 70, 194);
  width: 20%;
  height: 50px;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
form {
  padding-left:20px ;
  display: flex;
  flex-direction: column;
}
mat-form-field {
  width: 100%;
  padding-left:  30px;
  font-size: 20px ;
  line-height: 1.125;
  margin-top: 50px;
}

.btn {
  display: flex;
  justify-content:space-evenly;

}
